.frame-header {
    width: 100%;
    height: 45px;
    background-color: white;
}

.frame-header .ant-divider-vertical {
    float: left;
    margin: 5px;
    top: auto;
    height: 35px;
}

.frame-header .logo {
    width: fit-content;
    height: 45px;
    float: left;
    text-align: center;
}

.frame-header .function-menu {
    width: calc(100% - 423px);
    height: 45px;
    float: left;
}

.frame-header .system-menu {
    width: 150px;
    height: 45px;
    float: right;
    line-height: 45px;
    text-align: center;
}

.frame-header .locale-selector {
    width: 45px;
    float: right;
    line-height: 45px;
    text-align: center;
}

.frame-header .system-operation-bar {
    width: 45px;
    height: 45px;
    float: right;
    line-height: 45px;
    text-align: center;
    color:#1890ff;
}

.frame-header .system-operation-bar .ant-btn-text {
    color:#1890ff;
}

.frame-header .ant-dropdown-trigger {
    display: inline-block;
}

.frame-header .ant-menu-horizontal {
    border: 0;
}