.menu-wrapper {
    width: 100%;
    height: 100%;
    color: #ffffffa6;
    background: #001529;
    overflow-y: auto;
}


.menu-wrapper .ant-menu.ant-menu-inline-collapsed {
    width: 45px;
}

.menu-wrapper .ant-menu-sub.ant-menu-inline > .ant-menu-item {
    height: 32px;
    line-height: 32px;
}

.menu-wrapper .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 32px;
    line-height: 32px;
}

.menu-wrapper .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 32px;
    line-height: 32px;
}

.menu-wrapper .logo {
    text-align: center;
    height: 55px;
    padding: 5px;
    overflow: hidden;
}

.menu-wrapper .logo .ant-image-img {
    width: auto;
}

