.control-edittable-main {
    width: 100%;
    overflow: hidden;
}

.control-edittable-header-wrapper {
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    max-width: 100%;
    width: fit-content;
    overflow: hidden;
}

.control-edittable-body-wrapper {
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    width: fit-content;
    max-width: 100%;
    overflow: auto;
}