.list-table {
    width: 100%;
    height: calc(100vh - 75px);
    position: relative;
    overflow: hidden;
}

.ant-table-cell-fix-left, .ant-table-cell-fix-right {
    background-color: inherit;
}

.list-table .ant-table.ant-table-small .ant-table-thead > tr > th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.list-table .ant-table.ant-table-small .ant-table-tbody > tr > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.list-table .ant-table-summary .ant-table-cell {
    text-align: right;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fafafa;
}

.list-table .ant-table-cell-ellipsis .ant-table-column-title .table-header {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}