.frame-header {
    width: auto;
    height: 45px;
    line-height: 45px;
    background-color: white;
    display: grid;
    grid-template-columns: 45px 1fr fit-content(50%) 45px 45px;
}

.frame-header .filter-form {
    width: auto;
    height: 45px;
    line-height: 33px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

