.frame-header-normal {
    width: auto;
    height: 45px;
    line-height: 45px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr fit-content(50%) auto auto  45px;
}

.frame-header-hide {
    width: auto;
    height: 0px;
    line-height: 45px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr fit-content(50%) auto auto  45px;
}

.frame-header-invisible {
    width: 100%;
    height: 2px;
    line-height: 45px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr fit-content(50%) auto auto 45px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    overflow: hidden;
}

.frame-header-invisible:hover {
    opacity: 1;
    height: 45px;
}

.frame-header-filter-form {
    width: auto;
    height: 45px;
    line-height: 33px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

