.menugroup-frame-header {
    width: calc(100% - 0px);
    height: 45px;
    line-height: 45px;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    display: grid;
    grid-template-columns: fit-content(50%) 1fr fit-content(50%) 45px 10px;
}

.menugroup-frame-header img {
    vertical-align: baseline !important;
}



