.frame-tab-main {
    width:100%;
    border-top: 1px solid gainsboro;
    height: 100%;
}

.frame-tab-main .ant-tabs-top .ant-tabs-nav {
    margin: 1px;
    padding-left: 5px;
}

.frame-tab-main iframe {
    width: 100%;
    height: 100%;
    display: flex;
}

.frame-tab-main .log-tab {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.frame-tab-main .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    padding-top: 4px;
    padding-bottom: 4px;
}

.frame-tab-main .iframe-mask {
    position: absolute;
    left: 0;
    top: 34px;
    width: 100%;
    height: 100%;
    display: flex;
}

.frame-tab-main .ant-tabs {
    height: 100%;
}

.frame-tab-main .ant-tabs-content {
    height: 100%;
}