:where(.css-dev-only-do-not-override-1ck3jst).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item, :where(.css-dev-only-do-not-override-1ck3jst).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item, :where(.css-dev-only-do-not-override-1ck3jst).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item, :where(.css-dev-only-do-not-override-1ck3jst).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item {
    height: 100% !important;
}

:where(.css-dev-only-do-not-override-fvahxg).ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-actions .anticon-edit {
    z-index: 10;
    width: 16px;
    margin: 0 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: rgba(255, 255, 255, 0.65);
}

.imagelist-image-edit-icon span {
    color: rgba(255, 255, 255, 0.65) !important;
}

.imagelist-image-edit-icon span:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.imagelist-image-edit-icon .anticon-edit:hover {
    color: rgba(255, 255, 255, 0.8);
}



